<map name="AV-eggs">
        		    <area shape="rect" coords="30,1,123,61" target="_blank" 
                      	href="http://twitter.com/zinking" title="我的推" alt="我的推" id="J2_L3" />
        		    <area shape="rect" coords="281,-1,420,79"  target="_blank" 
                      	href="http://www.yellowicon.com/" title="DESGIN&免费广告" alt="DESGIN&免费广告" id="N1_X3" />
        		    <area shape="rect" coords="159,-3,219,56"  target="_blank" title="DESIGN&免费广告"
                      	href="http://www.logodesignlove.com/philadelphia-history-museum" alt="DESIGN&免费广告" id="Z1_12" />
        		    <area shape="rect" coords="468,-6,585,78"  target="_blank" title="DESIGN&免费广告"
                      	href="http://www.logodesignlove.com/effektive-identities" alt="DESIGN&免费广告" id="31_63" />
        		    <area shape="rect" coords="617,3,666,58" target="_blank" title="某男&免费LB帖"
                      	href="http://www.renren.com/profile.do?id=225300470" alt="某男&免费LB帖" id="82_93" />
      		        
        		    <area shape="rect" coords="0,-1,31,31" target="_blank" title="点我就答应"
                    	href="http://www.renren.com/profile.do?id=200942349" alt="点我就答应" />
                     <area shape="rect" coords="1,29,32,61" target="_blank" title="广告位招租"
                    	href="http://item.taobao.com/auction/item_detail.htm?item_num_id=4668559225" alt="广告位招" /> 
                    <area shape="rect" coords="0,59,31,91" target="_blank" title="广告位招租"
                    	href="http://item.taobao.com/auction/item_detail.htm?item_num_id=4668559225" alt="广告位招" />
                     <area shape="rect" coords="31,60,62,92" target="_blank" title="广告位招租"
                    	href="http://item.taobao.com/auction/item_detail.htm?item_num_id=4668559225" alt="广告位招" />
                    <area shape="rect" coords="62,61,93,93" target="_blank" title="广告位招租"
                    	href="http://item.taobao.com/auction/item_detail.htm?item_num_id=4668559225" alt="广告位招" />
                     <area shape="rect" coords="92,60,123,92" target="_blank" title="广告位招租"
                    	href="http://item.taobao.com/auction/item_detail.htm?item_num_id=4668559225" alt="广告位招" />
                      <area shape="rect" coords="123,61,154,93" target="_blank" title="广告位招租"
                    	href="http://item.taobao.com/auction/item_detail.htm?item_num_id=4668559225" alt="广告位招" />
                        
                     <area shape="rect" coords="122,-1,153,31" target="_blank" title="广告位招租"
                    	href="http://item.taobao.com/auction/item_detail.htm?item_num_id=4668559225" alt="广告位招" />
                      <area shape="rect" coords="123,30,154,62" target="_blank" title="草泥马张智勇"
                    	href="http://www.renren.com/profile.do?id=222534363" alt="草泥马张智勇" />
                      <area shape="rect" coords="153,61,184,93" target="_blank" title="广告位招租"
                    	href="http://item.taobao.com/auction/item_detail.htm?item_num_id=4668559225" alt="广告位招" />
                     <area shape="rect" coords="183,61,214,93" target="_blank" title="广告位招租"
                    	href="http://item.taobao.com/auction/item_detail.htm?item_num_id=4668559225" alt="广告位招" />
                      <area shape="rect" coords="214,61,245,93" target="_blank" title="广告位招租"
                    	href="http://item.taobao.com/auction/item_detail.htm?item_num_id=4668559225" alt="广告位招" />
                        
                     <area shape="rect" coords="244,-1,275,31" target="_blank" title="广告位招租"
                    	href="http://item.taobao.com/auction/item_detail.htm?item_num_id=4668559225" alt="广告位招" />
                      <area shape="rect" coords="244,62,275,94" target="_blank" title="广告位招租"
                    	href="http://item.taobao.com/auction/item_detail.htm?item_num_id=4668559225" alt="广告位招" />
                     <area shape="rect" coords="426,0,457,32" target="_blank" title="广告位招租"
                    	href="http://item.taobao.com/auction/item_detail.htm?item_num_id=4668559225" alt="广告位招" />
                        
                     <area shape="rect" coords="426,31,457,63" target="_blank" title="广告位招租"
                    	href="http://item.taobao.com/auction/item_detail.htm?item_num_id=4668559225" alt="广告位招" /> 
                     <area shape="rect" coords="425,60,456,92" target="_blank" title="广告位招租"
                    	href="http://item.taobao.com/auction/item_detail.htm?item_num_id=4668559225" alt="广告位招" />
                     <area shape="rect" coords="668,-1,699,31" target="_blank" title="广告位招租"
                    	href="http://item.taobao.com/auction/item_detail.htm?item_num_id=4668559225" alt="广告位招" />
                        
                     <area shape="rect" coords="668,31,699,63" target="_blank" title="广告位招租"
                    	href="http://item.taobao.com/auction/item_detail.htm?item_num_id=4668559225" alt="广告位招" /> 
                     <area shape="rect" coords="609,61,640,93" target="_blank" title="广告位招租"
                    	href="http://item.taobao.com/auction/item_detail.htm?item_num_id=4668559225" alt="广告位招" />
                     <area shape="rect" coords="638,61,669,93" target="_blank" title="广告位招租"
                    	href="http://item.taobao.com/auction/item_detail.htm?item_num_id=4668559225" alt="广告位招" />
                        
                     <area shape="rect" coords="669,61,700,93" target="_blank" title="3"
                    	href="http://renren.com/profile.do?id=200282712"  /> 
                     <area shape="rect" coords="579,61,610,93" target="_blank" title="广告位招租"
                    	href="http://item.taobao.com/auction/item_detail.htm?item_num_id=4668559225" alt="广告位招" />
                     <area shape="rect" coords="578,2,609,34" target="_blank" title="广告位招租"
                    	href="http://item.taobao.com/auction/item_detail.htm?item_num_id=4668559225" alt="广告位招" />
                        
                     <area shape="rect" coords="243,30,274,62" target="_blank" title="广告位招租"
                    	href="http://item.taobao.com/auction/item_detail.htm?item_num_id=4668559225" alt="广告位招" />
                       
        		  </map>