{% extends "BBS_PARSE_BASE.html" %}
{% block content %}
<h3 style="text-align:right;"><a href="http://bbstop10.appspot.com/" target=_blank>For Better Experience Visit us at >> http://bbstop10.appspot.com/</a></h3>
{% include 'BBS_RECOMMEND.html' %}
<div class="grid" align="center" >
    <ul>
    {% for table in context %}
        <li>
        <div class="bbs_block" >
            <!-- <img style="width:130;height:60;" src="/page/images/logo/logo_{{ table.name }}.jpg"/> -->
			<br />
            <b>{{ table.chinesename }}</b>

                    <table >

                        {% for item in table.itemlist %}
                            {% if forloop.counter|divisibleby:2 %}
                            <tr class="pt9lc">
                            {% else %}
                            <tr class="pt9dc">
                            {% endif %}                                
                                <td nowrap="nowrap" style="width:80%" class=title><a href="{{item.titlelink}}" target=_blank><b>
                                {{item.title}}</b></a></td>                               
                            </tr>                                          
                        {% endfor %}
                    </table>                   
        </div>
        </li>      
           {% endfor %}  
           </ul>
    </div> 
{% endblock %}
