<html>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<link href="/page/bbs0.css" type="text/css" rel="stylesheet" />
	<head>
		
        <LINK href="../page/images/favicon.ico"          rel="shortcut icon">
        <meta http-equiv="Content-Type" content="text/html; charset=gbk">
		     		

		<title>BBS TOP 10</title>
        <script type="text/javascript">
            var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
            document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' 						      type='text/javascript'%3E%3C/script%3E"));
            </script>
            <script type="text/javascript">
            try {
            var pageTracker = _gat._getTracker("UA-3272874-2");
            pageTracker._trackPageview();
            } catch(err) {}
        </script>
		<!--<script language="javascript"> window.open("http://127.0.0.1:8080/page/mbIndex.htm") </script> -->

	</head>
	<body style="overflow-x:hidden;">
    <div align=center><img src="/page/images/top10.gif" /></div>
    <h1  color="red">
        <a href="/page/mbIndex.htm" target=_blank ><font color='red' size='large'>推荐-》全新版 上线！！</font></a>
        <a href="/list" target=_blank ><font color='red' size='large'>详细列表</font></a>
    </h1>
    <hr color=green />
    <div >

	
        <div >
		<b>十大推荐文章</b>
		<table>
		{% for recoinfo in recommend %}
			<tr>
				<td>
				<a>【<b>{{recoinfo.board}}</b>】</a>
				<a href="{{recoinfo.titlelink}}"><b>{{recoinfo.title}}</b></a>
				</td>
			</tr>
		{% endfor %}
		</table>
		</div>

	</div>
	
	
    <div class="grid" align="center" >
    <ul>
    {% for table in context %}

        <li>
        <div class="bbs_block" >
            <!-- <img style="width:130;height:60;" src="/page/images/logo/logo_{{ table.name }}.jpg"/> -->
			<br />
            <b>{{ table.chinesename }}</b>

                    <table >

                        {% for item in table.itemlist %}
                            {% if forloop.counter|divisibleby:2 %}
                            <tr class="pt9lc">
                            {% else %}
                            <tr class="pt9dc">
                            {% endif %} 
                                
                                <td nowrap="nowrap" style="width:80%" class=title><a href="{{item.titlelink}}" target=_blank><b>                                 {{item.title}}</b></a></td>
                                
                            </tr>                                          

                        {% endfor %}
                    </table>
                     
        </div>
        </li>
       
        
           {% endfor %}  
           </ul>
    </div>
	</body>
</html>
