<html>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<link href="/page/bbs0.css" type="text/css" rel="stylesheet" />
	<head>	
        <LINK href="../page/images/favicon.ico"          rel="shortcut icon">
        <meta http-equiv="Content-Type" content="text/html; charset=gbk">
        
		<title>BBS TOP 10</title>
        <script type="text/javascript">
            var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
            document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
        </script>
        <script type="text/javascript">
            try {
            var pageTracker = _gat._getTracker("UA-3272874-2");
            pageTracker._trackPageview();
            } catch(err) {}
        </script>
        

        
		<!--<script language="javascript"> window.open("http://127.0.0.1:8080/page/mbIndex.htm") </script> -->
	</head>
	<body style="overflow-x:hidden;">
    <div align=center><img src="/page/images/top10-banner.jpg" /></div>
    <h1  color="red">

    </h1>
    
    <div class="menu">
        <ul>
            <li><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp</b></li>
            <li><a href="/page/mbIndex.htm" target=_blank >新版体验</a></li>
            <li><a href="/listall" target=_blank >其他高校列表</a></li>
            <li><a href="/" target=_blank >回主页</a></li>
        </ul>
    </div>

    
    {% block content %}
	{% endblock %}
	</body>
</html>
