<html>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<link href="/page/bbs0.css" type="text/css" rel="stylesheet" />
	<head>
		
        <LINK href="../page/images/favicon.ico"          rel="shortcut icon">
        <meta http-equiv="Content-Type" content="text/html; charset=gbk">
		     		

		<title>BBS TOP 10</title>
        <script type="text/javascript">
            var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
            document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
            </script>
            <script type="text/javascript">
            try {
            var pageTracker = _gat._getTracker("UA-3272874-2");
            pageTracker._trackPageview();
            } catch(err) {}
        </script>
	</head>
	<body>
    <div align=center><img src="/page/images/top10.gif" /></div>
    <h1  color="red">
        <a href="/page/mbIndex.htm" target=_blank ><font color='red' size='large'>推荐-》全新版 上线！！</font></a>
    </h1>
    <hr color=green>
    {% for table in context %}
    <br />
        <div>
            <img src="/page/images/logo/logo_{{ table.name }}.jpg"/>
            <b>{{ table.chinesename }}</b>
            <table align=center border=0 cellpadding=0 cellspacing=0>
                <tr height=6>
                    <td width=6><img border=0 src='/page/images/lt.gif'></td>
                    <td background='/page/images/t.gif' width=100%></td>
                    <td width=6><img border=0 src='/page/images/rt.gif'></td>
                </tr>
                <tr  height=100%>
                    <td width=6 background='/page/images/l.gif'></td>
                    <td width=100% nowrap bgcolor=#ffffff>
                    <table>
                        <tr class="pt9h" bgcolor="#cccccc" align="center">
                            <td nowrap="nowrap" class=counter><b>名次</b></td>
                            <td nowrap="nowrap" class=board><b>讨论区</b></td>
                            <td nowrap="nowrap" class=title><b>标题</b></td>
                            <td nowrap="nowrap" class=author><b>作者</b></td>
                            <td nowrap="nowrap" class=postcount><b>篇数</b></td>
                        </tr>
                        {% for item in table.itemlist %}
                            {% if forloop.counter|divisibleby:2 %}
                            <tr class="pt9lc">
                            {% else %}
                            <tr class="pt9dc">
                            {% endif %} 
                                <td nowrap="nowrap" class=counter><b>{{ forloop.counter }}</b></td>
                                <td nowrap="nowrap" class=board><a href="{{item.boardlink}}" target=_blank><b>{{item.board}}</b></a></td>
                                <td nowrap="nowrap" class=title><a href="{{item.titlelink}}" target=_blank><b>{{item.title}}</b></a></td>
                                <td nowrap="nowrap" class=author><a href="{{item.authorlink}}" target=_blank><b>{{item.author}}</b></a></td>
                                <td nowrap="nowrap" class=postcount><b>{{item.postcount}}</b></td>
                            </tr>                                          

                        {% endfor %}
                    </table>
                    </td>
                    <td width=6 background='/page/images/r.gif'></td>
                </tr>
                <tr height=6>
                    <td width=6><img border=0 src='/page/images/lb.gif'></td>
                    <td background='/page/images/b.gif' width=100%></td>
                    <td width=6><img border=0 src='/page/images/rb.gif'></td>
                </tr>
            </table>
        </div>
       
        
           {% endfor %}    
	</body>
</html>
