<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xml:lang="en" xmlns="http://www.w3.org/1999/xhtml"><head>


	<title>
	Top 10 News From University Today / home — bbstop10
</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="description" content="Mercurial hosting - we're here to serve.">
	<meta name="keywords" content="mercurial,hg,hosting,bitbucket,">
	<link rel="stylesheet" type="text/css" href="../media/xlayout.css">



	<script type="text/javascript" src="../media/bundle.js"></script>
	
	<script type="text/javascript">
		$(document).ready(function() {
			Dropdown.init();
			$(".tooltip").tipsy({gravity:'s'});
		});
	</script>
	<noscript>
		<style type="text/css">
			.dropdown-container-text .dropdown {
				position: static !important;
			}
		</style>
	</noscript>

	<!--[if lt IE 7]>
	<style type="text/css">
	body {
		behavior: url(//m/css/csshover.htc);
	}
	
	#issues-issue pre {
		white-space: normal !important;
	}
	
	.changeset-description {
		white-space: normal !important;
	}
	</style>
	<script type="text/javascript"> 
		$(document).ready(function(){ 
			$('#header-wrapper').pngFix();
			$('#sourcelist').pngFix();
			$('.promo-signup-screenshot').pngFix();
		}); 
	</script>
	<![endif]-->
	
	
	<!--<link href="//zinking/rss/feed/" rel="alternate" type="application/rss+xml" title="RSS Feed for zinking">
	<link href="//zinking/atom/feed/" rel="alternate" type="application/atom+xml" title="Atom Feed for zinking">-->

</head><body class="">
	<div id="main-wrapper">
		<div id="header-wrapper" >
			<div id="header-loggedin">
				<a href=""><img src="../media/images/logo_myriad.png" alt="Bitbucket" id="header-wrapper-logo"></a>
				
					
					
						<a href="//zinking/">
								<img src="" id="userimage" alt="">
						</a>
					

					<div id="header-nav">
						<ul>
							<li><a href="//">Home</a></li>
							<li class="has-dropdown">
								<a href="//repo/all/">Repositories</a> 
								<ul style="display: none;">
									<li><a href="//repo/create/">Create new</a> </li>
									<li class="header-nav-repo-button-new">
											<a href="//repo/all/">All public repositories</a>
									</li>
									<li class="header-nav-repo-segmenter-theirs">
											– your repositories –
										</li>
									
									
								</ul>
							</li>
							<li><a href="//account/">Account</a></li>
							<li>
								<a href="//notifications/" class="inbox-no-messages">Inbox</a>
							</li>
							<li>
								<a href="//plans/">
									Plans
								</a>
							</li>
							<li><a href="//help/">Help</a></li>
							<li><a href="//account/signout/">Log out <small>(zinking)</small></a></li>
							<li id="topsearch">
								<form action="/repo/all/">
									<input name="name" type="text">
								</form>
							</li>
						</ul>
					</div>
				
			</div>
		</div>
		<div id="content-wrapper">
			
			
			

			
			
			
			
			
	<div class="container">
    
    	<div style="width:100%; margin-bottom:30px;">
        	<DIV class=featured >
    			<IMG alt=featured src="../media/images/featured.png" /> 
        		<div  class="ad" style="width:750px;height:91px;"><span class="ad" style="width:750px;height:91px;"><img  src="../media/images/adgridxn.jpg" usemap="#AV-eggs" /></span>
        		  <map name="AV-eggs">
<area shape="rect" coords="0,0,30,30" target="_blank" title="广告位招租"
                    	href="http://item.taobao.com/auction/item_detail.htm?item_num_id=4668559225" alt="广告位招" />
<area shape="rect" coords="30,0,60,30" target="_blank" title="广告位招租"
                    	href="http://item.taobao.com/auction/item_detail.htm?item_num_id=4668559225" alt="广告位招" />
<area shape="rect" coords="60,0,90,30" target="_blank" title="广告位招租"
                    	href="http://item.taobao.com/auction/item_detail.htm?item_num_id=4668559225" alt="广告位招" />
<area shape="rect" coords="90,0,120,30" target="_blank" title="广告位招租"
                    	href="http://item.taobao.com/auction/item_detail.htm?item_num_id=4668559225" alt="广告位招" />
<area shape="rect" coords="120,0,150,30" target="_blank" title="广告位招租"
                    	href="http://item.taobao.com/auction/item_detail.htm?item_num_id=4668559225" alt="广告位招" />
<area shape="rect" coords="150,0,180,30" target="_blank" title="广告位招租"
                    	href="http://item.taobao.com/auction/item_detail.htm?item_num_id=4668559225" alt="广告位招" />
<area shape="rect" coords="210,0,240,30" target="_blank" title="广告位招租"
                    	href="http://item.taobao.com/auction/item_detail.htm?item_num_id=4668559225" alt="广告位招" />
<area shape="rect" coords="240,0,270,30" target="_blank" title="广告位招租"
                    	href="http://item.taobao.com/auction/item_detail.htm?item_num_id=4668559225" alt="广告位招" />
<area shape="rect" coords="270,0,300,30" target="_blank" title="广告位招租"
                    	href="http://item.taobao.com/auction/item_detail.htm?item_num_id=4668559225" alt="广告位招" />
<area shape="rect" coords="300,0,330,30" target="_blank" title="广告位招租"
                    	href="http://item.taobao.com/auction/item_detail.htm?item_num_id=4668559225" alt="广告位招" />
<area shape="rect" coords="330,0,360,30" target="_blank" title="广告位招租"
                    	href="http://item.taobao.com/auction/item_detail.htm?item_num_id=4668559225" alt="广告位招" />
<area shape="rect" coords="360,0,390,30" target="_blank" title="广告位招租"
                    	href="http://item.taobao.com/auction/item_detail.htm?item_num_id=4668559225" alt="广告位招" />
<area shape="rect" coords="390,0,420,30" target="_blank" title="广告位招租"
                    	href="http://item.taobao.com/auction/item_detail.htm?item_num_id=4668559225" alt="广告位招" />
<area shape="rect" coords="420,0,450,30" target="_blank" title="广告位招租"
                    	href="http://item.taobao.com/auction/item_detail.htm?item_num_id=4668559225" alt="广告位招" />
<area shape="rect" coords="450,0,480,30" target="_blank" title="广告位招租"
                    	href="http://item.taobao.com/auction/item_detail.htm?item_num_id=4668559225" alt="广告位招" />
<area shape="rect" coords="480,0,510,30" target="_blank" title="广告位招租"
                    	href="http://item.taobao.com/auction/item_detail.htm?item_num_id=4668559225" alt="广告位招" />
<area shape="rect" coords="540,0,570,30" target="_blank" title="广告位招租"
                    	href="http://item.taobao.com/auction/item_detail.htm?item_num_id=4668559225" alt="广告位招" />
<area shape="rect" coords="630,0,660,30" target="_blank" title="广告位招租"
                    	href="http://item.taobao.com/auction/item_detail.htm?item_num_id=4668559225" alt="广告位招" />
<area shape="rect" coords="660,0,690,30" target="_blank" title="广告位招租"
                    	href="http://item.taobao.com/auction/item_detail.htm?item_num_id=4668559225" alt="广告位招" />
<area shape="rect" coords="0,30,30,60" target="_blank" title="广告位招租"
                    	href="http://item.taobao.com/auction/item_detail.htm?item_num_id=4668559225" alt="广告位招" />
<area shape="rect" coords="30,30,60,60" target="_blank" title="广告位招租"
                    	href="http://item.taobao.com/auction/item_detail.htm?item_num_id=4668559225" alt="广告位招" />
<area shape="rect" coords="120,30,150,60" target="_blank" title="广告位招租"
                    	href="http://item.taobao.com/auction/item_detail.htm?item_num_id=4668559225" alt="广告位招" />
<area shape="rect" coords="150,30,180,60" target="_blank" title="广告位招租"
                    	href="http://item.taobao.com/auction/item_detail.htm?item_num_id=4668559225" alt="广告位招" />
<area shape="rect" coords="210,30,240,60" target="_blank" title="广告位招租"
                    	href="http://item.taobao.com/auction/item_detail.htm?item_num_id=4668559225" alt="广告位招" />
<area shape="rect" coords="240,30,270,60" target="_blank" title="广告位招租"
                    	href="http://item.taobao.com/auction/item_detail.htm?item_num_id=4668559225" alt="广告位招" />
<area shape="rect" coords="270,30,300,60" target="_blank" title="广告位招租"
                    	href="http://item.taobao.com/auction/item_detail.htm?item_num_id=4668559225" alt="广告位招" />
<area shape="rect" coords="300,30,330,60" target="_blank" title="广告位招租"
                    	href="http://item.taobao.com/auction/item_detail.htm?item_num_id=4668559225" alt="广告位招" />
<area shape="rect" coords="360,30,390,60" target="_blank" title="广告位招租"
                    	href="http://item.taobao.com/auction/item_detail.htm?item_num_id=4668559225" alt="广告位招" />
<area shape="rect" coords="390,30,420,60" target="_blank" title="广告位招租"
                    	href="http://item.taobao.com/auction/item_detail.htm?item_num_id=4668559225" alt="广告位招" />
<area shape="rect" coords="450,30,480,60" target="_blank" title="广告位招租"
                    	href="http://item.taobao.com/auction/item_detail.htm?item_num_id=4668559225" alt="广告位招" />
<area shape="rect" coords="480,30,510,60" target="_blank" title="广告位招租"
                    	href="http://item.taobao.com/auction/item_detail.htm?item_num_id=4668559225" alt="广告位招" />
<area shape="rect" coords="540,30,570,60" target="_blank" title="广告位招租"
                    	href="http://item.taobao.com/auction/item_detail.htm?item_num_id=4668559225" alt="广告位招" />
<area shape="rect" coords="570,30,600,60" target="_blank" title="广告位招租"
                    	href="http://item.taobao.com/auction/item_detail.htm?item_num_id=4668559225" alt="广告位招" />
<area shape="rect" coords="600,30,630,60" target="_blank" title="广告位招租"
                    	href="http://item.taobao.com/auction/item_detail.htm?item_num_id=4668559225" alt="广告位招" />
<area shape="rect" coords="630,30,660,60" target="_blank" title="广告位招租"
                    	href="http://item.taobao.com/auction/item_detail.htm?item_num_id=4668559225" alt="广告位招" />
<area shape="rect" coords="660,30,690,60" target="_blank" title="广告位招租"
                    	href="http://item.taobao.com/auction/item_detail.htm?item_num_id=4668559225" alt="广告位招" />
<area shape="rect" coords="0,60,30,90" target="_blank" title="广告位招租"
                    	href="http://item.taobao.com/auction/item_detail.htm?item_num_id=4668559225" alt="广告位招" />
<area shape="rect" coords="30,60,60,90" target="_blank" title="广告位招租"
                    	href="http://item.taobao.com/auction/item_detail.htm?item_num_id=4668559225" alt="广告位招" />
<area shape="rect" coords="120,60,150,90" target="_blank" title="广告位招租"
                    	href="http://item.taobao.com/auction/item_detail.htm?item_num_id=4668559225" alt="广告位招" />
<area shape="rect" coords="150,60,180,90" target="_blank" title="广告位招租"
                    	href="http://item.taobao.com/auction/item_detail.htm?item_num_id=4668559225" alt="广告位招" />
<area shape="rect" coords="180,60,210,90" target="_blank" title="广告位招租"
                    	href="http://item.taobao.com/auction/item_detail.htm?item_num_id=4668559225" alt="广告位招" />
<area shape="rect" coords="210,60,240,90" target="_blank" title="广告位招租"
                    	href="http://item.taobao.com/auction/item_detail.htm?item_num_id=4668559225" alt="广告位招" />
<area shape="rect" coords="240,60,270,90" target="_blank" title="广告位招租"
                    	href="http://item.taobao.com/auction/item_detail.htm?item_num_id=4668559225" alt="广告位招" />
<area shape="rect" coords="270,60,300,90" target="_blank" title="广告位招租"
                    	href="http://item.taobao.com/auction/item_detail.htm?item_num_id=4668559225" alt="广告位招" />
<area shape="rect" coords="300,60,330,90" target="_blank" title="广告位招租"
                    	href="http://item.taobao.com/auction/item_detail.htm?item_num_id=4668559225" alt="广告位招" />
<area shape="rect" coords="330,60,360,90" target="_blank" title="广告位招租"
                    	href="http://item.taobao.com/auction/item_detail.htm?item_num_id=4668559225" alt="广告位招" />
<area shape="rect" coords="360,60,390,90" target="_blank" title="广告位招租"
                    	href="http://item.taobao.com/auction/item_detail.htm?item_num_id=4668559225" alt="广告位招" />
<area shape="rect" coords="390,60,420,90" target="_blank" title="广告位招租"
                    	href="http://item.taobao.com/auction/item_detail.htm?item_num_id=4668559225" alt="广告位招" />
<area shape="rect" coords="450,60,480,90" target="_blank" title="广告位招租"
                    	href="http://item.taobao.com/auction/item_detail.htm?item_num_id=4668559225" alt="广告位招" />
<area shape="rect" coords="480,60,510,90" target="_blank" title="广告位招租"
                    	href="http://item.taobao.com/auction/item_detail.htm?item_num_id=4668559225" alt="广告位招" />
<area shape="rect" coords="510,60,540,90" target="_blank" title="广告位招租"
                    	href="http://item.taobao.com/auction/item_detail.htm?item_num_id=4668559225" alt="广告位招" />
<area shape="rect" coords="540,60,570,90" target="_blank" title="广告位招租"
                    	href="http://item.taobao.com/auction/item_detail.htm?item_num_id=4668559225" alt="广告位招" />
<area shape="rect" coords="570,60,600,90" target="_blank" title="广告位招租"
                    	href="http://item.taobao.com/auction/item_detail.htm?item_num_id=4668559225" alt="广告位招" />
<area shape="rect" coords="600,60,630,90" target="_blank" title="广告位招租"
                    	href="http://item.taobao.com/auction/item_detail.htm?item_num_id=4668559225" alt="广告位招" />
<area shape="rect" coords="630,60,660,90" target="_blank" title="广告位招租"
                    	href="http://item.taobao.com/auction/item_detail.htm?item_num_id=4668559225" alt="广告位招" />
<area shape="rect" coords="660,60,690,90" target="_blank" title="广告位招租"
                    	href="http://item.taobao.com/auction/item_detail.htm?item_num_id=4668559225" alt="广告位招" />
<area shape="rect" coords="419,30,449,90" target="_blank" title="LQQ TITLE" href="LQQ LINK" alt="alt" />
<area shape="rect" coords="180,0,210,60" target="_blank" title="MMQ TITLE" href="MMQ LINK" alt="alt" />
<area shape="rect" coords="60,30,120,90" target="_blank" title="TXT TITLE" href="TXT LINK" alt="alt" />
<area shape="rect" coords="570,0,630,30" target="_blank" title="YX TITLE" href="YX LINK" alt="alt" />
<area shape="rect" coords="510,-2,540,58" target="_blank" title="YXC TITLE" href="YXC LINK" alt="alt" />
<area shape="rect" coords="330,30,360,60" target="_blank" title="ZX TITLE" href="ZX LINK" alt="alt" />

</map>

       		  </div>
       
   		  </DIV>
        </div>
		<div id="onecol">
        
         

	<div class="onecol-info">
		<h2>Public newsfeed<a href=".content_by_school-uc.html">.content_by_school-uc</a></h2>
        <table>

                            <tr class="pt9dc">
                                                
                                <td nowrap="nowrap" style="width:30%" class=board><a href="http://bbs.sjtu.edu.cn//bbsdoc?board=Environment" target=_blank>【<b>Environment</b>】</a></td>
                                <td nowrap="nowrap" style="width:70%" class=title><a href="http://bbs.sjtu.edu.cn//bbstcon?board=Environment&reid=1259522214" target=_blank><b>【热烈庆祝环境学院建院10周年！】</b></a>
                    
                                <a class="tag" href="TO BE DONE">forum</a><a class="tag" href="TO BE DONE">水帖</a>
                                </td>
                                
                             </tr>  
                                           
                        
                            <tr class="pt9lc">
                                                
                                <td nowrap="nowrap" style="width:30%" class=board><a href="http://bbs.nju.edu.cn/bbsdoc?board=Girls" target=_blank>【<b>Girls</b>】</a></td>

                                <td nowrap="nowrap" style="width:70%" class=title><a href="http://bbs.nju.edu.cn/bbstcon?board=Girls&file=M.1259501472.A" target=_blank><b>你能抗拒出轨的诱惑么？</b></a></td>                          
                             </tr>  
                                           
                        
                            <tr class="pt9dc">
                                                
                                <td nowrap="nowrap" style="width:30%" class=board><a href="http://bbs.sysu.edu.cn/bbsdoc?board=Girls" target=_blank>【<b>Girls</b>】</a></td>
                                <td nowrap="nowrap" style="width:70%" class=title><a href="http://bbs.sysu.edu.cn/bbstcon?board=Girls&file=M.1259583823.A" target=_blank><b>女朋友要收前男友的戒指礼物，我要怎么办？</b></a></td>                          
                             </tr>  
                                           
                        
                            <tr class="pt9lc">
                                                
                                <td nowrap="nowrap" style="width:30%" class=board><a href="http://bbs.xjtu.edu.cn/BMYELAVBXDPIOAJBDICRKENIKWXEIKSVQZJU_B/bbshome?board=XJTUenp" target=_blank>【<b>XJTUenp</b>】</a></td>

                                <td nowrap="nowrap" style="width:70%" class=title><a href="http://bbs.xjtu.edu.cn/BMYELAVBXDPIOAJBDICRKENIKWXEIKSVQZJU_B/bbstfind?board=XJTUenp&th=1259558167&title=朴实却伟大的胸怀——有感于徐通模教授讲座" target=_blank><b>朴实却伟大的胸怀——有感于徐通模教授讲座</b></a></td>                          
                             </tr>  
                                           
                        
                            <tr class="pt9dc">
                                                
                                <td nowrap="nowrap" style="width:30%" class=board><a href="http://forum.byr.edu.cn/wForum/" target=_blank>【<b>Talking</b>】</a></td>
                                <td nowrap="nowrap" style="width:70%" class=title><a href="http://forum.byr.edu.cn/wForum/disparticle.php?boardName=Talking&ID=4424219" target=_blank><b>昌平图书馆最最慈祥和蔼的辛老师..</b></a></td>                          
                             </tr>  
                                           
                        
                            <tr class="pt9lc">
                                                
                                <td nowrap="nowrap" style="width:30%" class=board><a href="http://www.newsmth.net/bbstcon.php?board=ASCIIart&amp;gid=114684" target=_blank>【<b>ASCII艺术</b>】</a></td>

                                <td nowrap="nowrap" style="width:70%" class=title><a href="http://www.newsmth.net/bbstcon.php?board=ASCIIart&amp;gid=114684" target=_blank><b>空格动画·青鸾·365帧</b></a></td>                          
                             </tr>  
                                           
                        
                            <tr class="pt9dc">
                                                
                                <td nowrap="nowrap" style="width:30%" class=board><a href="http://bbs.fudan.edu.cn/cgi-bin/bbs/bbsdoc?board=Astrology" target=_blank>【<b>Astrology</b>】</a></td>
                                <td nowrap="nowrap" style="width:70%" class=title><a href="http://bbs.fudan.edu.cn/cgi-bin/bbs/bbstfind?board=Astrology&title=征集——珍爱生命，远离X X？                                " target=_blank><b>征集——珍爱生命，远离X X？</b></a></td>                          
                             </tr>  
                                           
                        
                            <tr class="pt9lc">
                                                
                                <td nowrap="nowrap" style="width:30%" class=board><a href="http://bbs.ustc.edu.cn/cgi/bbsdoc?board=RealMadrid" target=_blank>【<b>RealMadrid</b>】</a></td>

                                <td nowrap="nowrap" style="width:70%" class=title><a href="http://bbs.ustc.edu.cn/cgi/bbstcon?board=RealMadrid&file=M.1259525982.A" target=_blank><b>show&nbsp;pp</b></a></td>                          
                             </tr>  
                                           
                        
                            <tr class="pt9dc">
                                                
                                <td nowrap="nowrap" style="width:30%" class=board><a href="http://bbs.whu.edu.cn/bbstcon.php?board=Picture&amp;gid=280902" target=_blank>【<b>贴图版</b>】</a></td>
                                <td nowrap="nowrap" style="width:70%" class=title><a href="http://bbs.whu.edu.cn/bbstcon.php?board=Picture&amp;gid=280902" target=_blank><b>怒了~~~姐今天点pie你了小偷同志！有pp~~~</b></a></td>                          
                             </tr>  
                                           
                        
                            <tr class="pt9lc">
                                                
                                <td nowrap="nowrap" style="width:30%" class=board><a href="http://bbs.jlu.edu.cn/cgi-bin/" target=_blank>【<b>reminiscence</b>】</a></td>

                                <td nowrap="nowrap" style="width:70%" class=title><a href="http://bbs.jlu.edu.cn/cgi-bin/bbstcon?board=reminiscence&root=1257864804" target=_blank><b>渐渐懂了</b></a></td>                          
                             </tr>  
                                  
                </table>

	</div>
    <div class="onecol-info">
		<h2>Public newsfeed</h2>
        <table>

                            <tr class="pt9dc">
                                                
                                <td nowrap="nowrap" style="width:30%" class=board><a href="http://bbs.sjtu.edu.cn//bbsdoc?board=Environment" target=_blank>【<b>Environment</b>】</a></td>
                                <td nowrap="nowrap" style="width:70%" class=title><a href="http://bbs.sjtu.edu.cn//bbstcon?board=Environment&reid=1259522214" target=_blank><b>【热烈庆祝环境学院建院10周年！】</b></a></td>                          
                             </tr>  
                                           
                        
                            <tr class="pt9lc">
                                                
                                <td nowrap="nowrap" style="width:30%" class=board><a href="http://bbs.nju.edu.cn/bbsdoc?board=Girls" target=_blank>【<b>Girls</b>】</a></td>

                                <td nowrap="nowrap" style="width:70%" class=title><a href="http://bbs.nju.edu.cn/bbstcon?board=Girls&file=M.1259501472.A" target=_blank><b>你能抗拒出轨的诱惑么？</b></a></td>                          
                             </tr>  
                                           
                        
                            <tr class="pt9dc">
                                                
                                <td nowrap="nowrap" style="width:30%" class=board><a href="http://bbs.sysu.edu.cn/bbsdoc?board=Girls" target=_blank>【<b>Girls</b>】</a></td>
                                <td nowrap="nowrap" style="width:70%" class=title><a href="http://bbs.sysu.edu.cn/bbstcon?board=Girls&file=M.1259583823.A" target=_blank><b>女朋友要收前男友的戒指礼物，我要怎么办？</b></a></td>                          
                             </tr>  
                                           
                        
                            <tr class="pt9lc">
                                                
                                <td nowrap="nowrap" style="width:30%" class=board><a href="http://bbs.xjtu.edu.cn/BMYELAVBXDPIOAJBDICRKENIKWXEIKSVQZJU_B/bbshome?board=XJTUenp" target=_blank>【<b>XJTUenp</b>】</a></td>

                                <td nowrap="nowrap" style="width:70%" class=title><a href="http://bbs.xjtu.edu.cn/BMYELAVBXDPIOAJBDICRKENIKWXEIKSVQZJU_B/bbstfind?board=XJTUenp&th=1259558167&title=朴实却伟大的胸怀——有感于徐通模教授讲座" target=_blank><b>朴实却伟大的胸怀——有感于徐通模教授讲座</b></a></td>                          
                             </tr>  
                                           
                        
                            <tr class="pt9dc">
                                                
                                <td nowrap="nowrap" style="width:30%" class=board><a href="http://forum.byr.edu.cn/wForum/" target=_blank>【<b>Talking</b>】</a></td>
                                <td nowrap="nowrap" style="width:70%" class=title><a href="http://forum.byr.edu.cn/wForum/disparticle.php?boardName=Talking&ID=4424219" target=_blank><b>昌平图书馆最最慈祥和蔼的辛老师..</b></a></td>                          
                             </tr>  
                                           
                        
                            <tr class="pt9lc">
                                                
                                <td nowrap="nowrap" style="width:30%" class=board><a href="http://www.newsmth.net/bbstcon.php?board=ASCIIart&amp;gid=114684" target=_blank>【<b>ASCII艺术</b>】</a></td>

                                <td nowrap="nowrap" style="width:70%" class=title><a href="http://www.newsmth.net/bbstcon.php?board=ASCIIart&amp;gid=114684" target=_blank><b>空格动画·青鸾·365帧</b></a></td>                          
                             </tr>  
                                           
                        
                            <tr class="pt9dc">
                                                
                                <td nowrap="nowrap" style="width:30%" class=board><a href="http://bbs.fudan.edu.cn/cgi-bin/bbs/bbsdoc?board=Astrology" target=_blank>【<b>Astrology</b>】</a></td>
                                <td nowrap="nowrap" style="width:70%" class=title><a href="http://bbs.fudan.edu.cn/cgi-bin/bbs/bbstfind?board=Astrology&title=征集——珍爱生命，远离X X？                                " target=_blank><b>征集——珍爱生命，远离X X？</b></a></td>                          
                             </tr>  
                                           
                        
                            <tr class="pt9lc">
                                                
                                <td nowrap="nowrap" style="width:30%" class=board><a href="http://bbs.ustc.edu.cn/cgi/bbsdoc?board=RealMadrid" target=_blank>【<b>RealMadrid</b>】</a></td>

                                <td nowrap="nowrap" style="width:70%" class=title><a href="http://bbs.ustc.edu.cn/cgi/bbstcon?board=RealMadrid&file=M.1259525982.A" target=_blank><b>show&nbsp;pp</b></a></td>                          
                             </tr>  
                                           
                        
                            <tr class="pt9dc">
                                                
                                <td nowrap="nowrap" style="width:30%" class=board><a href="http://bbs.whu.edu.cn/bbstcon.php?board=Picture&amp;gid=280902" target=_blank>【<b>贴图版</b>】</a></td>
                                <td nowrap="nowrap" style="width:70%" class=title><a href="http://bbs.whu.edu.cn/bbstcon.php?board=Picture&amp;gid=280902" target=_blank><b>怒了~~~姐今天点pie你了小偷同志！有pp~~~</b></a></td>                          
                             </tr>  
                                           
                        
                            <tr class="pt9lc">
                                                
                                <td nowrap="nowrap" style="width:30%" class=board><a href="http://bbs.jlu.edu.cn/cgi-bin/" target=_blank>【<b>reminiscence</b>】</a></td>

                                <td nowrap="nowrap" style="width:70%" class=title><a href="http://bbs.jlu.edu.cn/cgi-bin/bbstcon?board=reminiscence&root=1257864804" target=_blank><b>渐渐懂了</b></a></td>                          
                             </tr>  
                                  
                </table>

	</div>
    <div class="onecol-info">
		<h2>Public newsfeed</h2>
        <table>

                            <tr class="pt9dc">
                                                
                                <td nowrap="nowrap" style="width:30%" class=board><a href="http://bbs.sjtu.edu.cn//bbsdoc?board=Environment" target=_blank>【<b>Environment</b>】</a></td>
                                <td nowrap="nowrap" style="width:70%" class=title><a href="http://bbs.sjtu.edu.cn//bbstcon?board=Environment&reid=1259522214" target=_blank><b>【热烈庆祝环境学院建院10周年！】</b></a></td>                          
                             </tr>  
                                           
                        
                            <tr class="pt9lc">
                                                
                                <td nowrap="nowrap" style="width:30%" class=board><a href="http://bbs.nju.edu.cn/bbsdoc?board=Girls" target=_blank>【<b>Girls</b>】</a></td>

                                <td nowrap="nowrap" style="width:70%" class=title><a href="http://bbs.nju.edu.cn/bbstcon?board=Girls&file=M.1259501472.A" target=_blank><b>你能抗拒出轨的诱惑么？</b></a></td>                          
                             </tr>  
                                           
                        
                            <tr class="pt9dc">
                                                
                                <td nowrap="nowrap" style="width:30%" class=board><a href="http://bbs.sysu.edu.cn/bbsdoc?board=Girls" target=_blank>【<b>Girls</b>】</a></td>
                                <td nowrap="nowrap" style="width:70%" class=title><a href="http://bbs.sysu.edu.cn/bbstcon?board=Girls&file=M.1259583823.A" target=_blank><b>女朋友要收前男友的戒指礼物，我要怎么办？</b></a></td>                          
                             </tr>  
                                           
                        
                            <tr class="pt9lc">
                                                
                                <td nowrap="nowrap" style="width:30%" class=board><a href="http://bbs.xjtu.edu.cn/BMYELAVBXDPIOAJBDICRKENIKWXEIKSVQZJU_B/bbshome?board=XJTUenp" target=_blank>【<b>XJTUenp</b>】</a></td>

                                <td nowrap="nowrap" style="width:70%" class=title><a href="http://bbs.xjtu.edu.cn/BMYELAVBXDPIOAJBDICRKENIKWXEIKSVQZJU_B/bbstfind?board=XJTUenp&th=1259558167&title=朴实却伟大的胸怀——有感于徐通模教授讲座" target=_blank><b>朴实却伟大的胸怀——有感于徐通模教授讲座</b></a></td>                          
                             </tr>  
                                           
                        
                            <tr class="pt9dc">
                                                
                                <td nowrap="nowrap" style="width:30%" class=board><a href="http://forum.byr.edu.cn/wForum/" target=_blank>【<b>Talking</b>】</a></td>
                                <td nowrap="nowrap" style="width:70%" class=title><a href="http://forum.byr.edu.cn/wForum/disparticle.php?boardName=Talking&ID=4424219" target=_blank><b>昌平图书馆最最慈祥和蔼的辛老师..</b></a></td>                          
                             </tr>  
                                           
                        
                            <tr class="pt9lc">
                                                
                                <td nowrap="nowrap" style="width:30%" class=board><a href="http://www.newsmth.net/bbstcon.php?board=ASCIIart&amp;gid=114684" target=_blank>【<b>ASCII艺术</b>】</a></td>

                                <td nowrap="nowrap" style="width:70%" class=title><a href="http://www.newsmth.net/bbstcon.php?board=ASCIIart&amp;gid=114684" target=_blank><b>空格动画·青鸾·365帧</b></a></td>                          
                             </tr>  
                                           
                        
                            <tr class="pt9dc">
                                                
                                <td nowrap="nowrap" style="width:30%" class=board><a href="http://bbs.fudan.edu.cn/cgi-bin/bbs/bbsdoc?board=Astrology" target=_blank>【<b>Astrology</b>】</a></td>
                                <td nowrap="nowrap" style="width:70%" class=title><a href="http://bbs.fudan.edu.cn/cgi-bin/bbs/bbstfind?board=Astrology&title=征集——珍爱生命，远离X X？                                " target=_blank><b>征集——珍爱生命，远离X X？</b></a></td>                          
                             </tr>  
                                           
                        
                            <tr class="pt9lc">
                                                
                                <td nowrap="nowrap" style="width:30%" class=board><a href="http://bbs.ustc.edu.cn/cgi/bbsdoc?board=RealMadrid" target=_blank>【<b>RealMadrid</b>】</a></td>

                                <td nowrap="nowrap" style="width:70%" class=title><a href="http://bbs.ustc.edu.cn/cgi/bbstcon?board=RealMadrid&file=M.1259525982.A" target=_blank><b>show&nbsp;pp</b></a></td>                          
                             </tr>  
                                           
                        
                            <tr class="pt9dc">
                                                
                                <td nowrap="nowrap" style="width:30%" class=board><a href="http://bbs.whu.edu.cn/bbstcon.php?board=Picture&amp;gid=280902" target=_blank>【<b>贴图版</b>】</a></td>
                                <td nowrap="nowrap" style="width:70%" class=title><a href="http://bbs.whu.edu.cn/bbstcon.php?board=Picture&amp;gid=280902" target=_blank><b>怒了~~~姐今天点pie你了小偷同志！有pp~~~</b></a></td>                          
                             </tr>  
                                           
                        
                            <tr class="pt9lc">
                                                
                                <td nowrap="nowrap" style="width:30%" class=board><a href="http://bbs.jlu.edu.cn/cgi-bin/" target=_blank>【<b>reminiscence</b>】</a></td>

                                <td nowrap="nowrap" style="width:70%" class=title><a href="http://bbs.jlu.edu.cn/cgi-bin/bbstcon?board=reminiscence&root=1257864804" target=_blank><b>渐渐懂了</b></a></td>                          
                             </tr>  
                                  
                </table>

	</div>
    <div class="onecol-info">
		<h2>Public newsfeed</h2>
        <table>

                            <tr class="pt9dc">
                                                
                                <td nowrap="nowrap" style="width:30%" class=board><a href="http://bbs.sjtu.edu.cn//bbsdoc?board=Environment" target=_blank>【<b>Environment</b>】</a></td>
                                <td nowrap="nowrap" style="width:70%" class=title><a href="http://bbs.sjtu.edu.cn//bbstcon?board=Environment&reid=1259522214" target=_blank><b>【热烈庆祝环境学院建院10周年！】</b></a></td>                          
                             </tr>  
                                           
                        
                            <tr class="pt9lc">
                                                
                                <td nowrap="nowrap" style="width:30%" class=board><a href="http://bbs.nju.edu.cn/bbsdoc?board=Girls" target=_blank>【<b>Girls</b>】</a></td>

                                <td nowrap="nowrap" style="width:70%" class=title><a href="http://bbs.nju.edu.cn/bbstcon?board=Girls&file=M.1259501472.A" target=_blank><b>你能抗拒出轨的诱惑么？</b></a></td>                          
                             </tr>  
                                           
                        
                            <tr class="pt9dc">
                                                
                                <td nowrap="nowrap" style="width:30%" class=board><a href="http://bbs.sysu.edu.cn/bbsdoc?board=Girls" target=_blank>【<b>Girls</b>】</a></td>
                                <td nowrap="nowrap" style="width:70%" class=title><a href="http://bbs.sysu.edu.cn/bbstcon?board=Girls&file=M.1259583823.A" target=_blank><b>女朋友要收前男友的戒指礼物，我要怎么办？</b></a></td>                          
                             </tr>  
                                           
                        
                            <tr class="pt9lc">
                                                
                                <td nowrap="nowrap" style="width:30%" class=board><a href="http://bbs.xjtu.edu.cn/BMYELAVBXDPIOAJBDICRKENIKWXEIKSVQZJU_B/bbshome?board=XJTUenp" target=_blank>【<b>XJTUenp</b>】</a></td>

                                <td nowrap="nowrap" style="width:70%" class=title><a href="http://bbs.xjtu.edu.cn/BMYELAVBXDPIOAJBDICRKENIKWXEIKSVQZJU_B/bbstfind?board=XJTUenp&th=1259558167&title=朴实却伟大的胸怀——有感于徐通模教授讲座" target=_blank><b>朴实却伟大的胸怀——有感于徐通模教授讲座</b></a></td>                          
                             </tr>  
                                           
                        
                            <tr class="pt9dc">
                                                
                                <td nowrap="nowrap" style="width:30%" class=board><a href="http://forum.byr.edu.cn/wForum/" target=_blank>【<b>Talking</b>】</a></td>
                                <td nowrap="nowrap" style="width:70%" class=title><a href="http://forum.byr.edu.cn/wForum/disparticle.php?boardName=Talking&ID=4424219" target=_blank><b>昌平图书馆最最慈祥和蔼的辛老师..</b></a></td>                          
                             </tr>  
                                           
                        
                            <tr class="pt9lc">
                                                
                                <td nowrap="nowrap" style="width:30%" class=board><a href="http://www.newsmth.net/bbstcon.php?board=ASCIIart&amp;gid=114684" target=_blank>【<b>ASCII艺术</b>】</a></td>

                                <td nowrap="nowrap" style="width:70%" class=title><a href="http://www.newsmth.net/bbstcon.php?board=ASCIIart&amp;gid=114684" target=_blank><b>空格动画·青鸾·365帧</b></a></td>                          
                             </tr>  
                                           
                        
                            <tr class="pt9dc">
                                                
                                <td nowrap="nowrap" style="width:30%" class=board><a href="http://bbs.fudan.edu.cn/cgi-bin/bbs/bbsdoc?board=Astrology" target=_blank>【<b>Astrology</b>】</a></td>
                                <td nowrap="nowrap" style="width:70%" class=title><a href="http://bbs.fudan.edu.cn/cgi-bin/bbs/bbstfind?board=Astrology&title=征集——珍爱生命，远离X X？                                " target=_blank><b>征集——珍爱生命，远离X X？</b></a></td>                          
                             </tr>  
                                           
                        
                            <tr class="pt9lc">
                                                
                                <td nowrap="nowrap" style="width:30%" class=board><a href="http://bbs.ustc.edu.cn/cgi/bbsdoc?board=RealMadrid" target=_blank>【<b>RealMadrid</b>】</a></td>

                                <td nowrap="nowrap" style="width:70%" class=title><a href="http://bbs.ustc.edu.cn/cgi/bbstcon?board=RealMadrid&file=M.1259525982.A" target=_blank><b>show&nbsp;pp</b></a></td>                          
                             </tr>  
                                           
                        
                            <tr class="pt9dc">
                                                
                                <td nowrap="nowrap" style="width:30%" class=board><a href="http://bbs.whu.edu.cn/bbstcon.php?board=Picture&amp;gid=280902" target=_blank>【<b>贴图版</b>】</a></td>
                                <td nowrap="nowrap" style="width:70%" class=title><a href="http://bbs.whu.edu.cn/bbstcon.php?board=Picture&amp;gid=280902" target=_blank><b>怒了~~~姐今天点pie你了小偷同志！有pp~~~</b></a></td>                          
                             </tr>  
                                           
                        
                            <tr class="pt9lc">
                                                
                                <td nowrap="nowrap" style="width:30%" class=board><a href="http://bbs.jlu.edu.cn/cgi-bin/" target=_blank>【<b>reminiscence</b>】</a></td>

                                <td nowrap="nowrap" style="width:70%" class=title><a href="http://bbs.jlu.edu.cn/cgi-bin/bbstcon?board=reminiscence&root=1257864804" target=_blank><b>渐渐懂了</b></a></td>                          
                             </tr>  
                                  
                </table>

	</div>
    <div class="onecol-info">
		<h2>Public newsfeed</h2>
        <table>

                            <tr class="pt9dc">
                                                
                                <td nowrap="nowrap" style="width:30%" class=board><a href="http://bbs.sjtu.edu.cn//bbsdoc?board=Environment" target=_blank>【<b>Environment</b>】</a></td>
                                <td nowrap="nowrap" style="width:70%" class=title><a href="http://bbs.sjtu.edu.cn//bbstcon?board=Environment&reid=1259522214" target=_blank><b>【热烈庆祝环境学院建院10周年！】</b></a></td>                          
                             </tr>  
                                           
                        
                            <tr class="pt9lc">
                                                
                                <td nowrap="nowrap" style="width:30%" class=board><a href="http://bbs.nju.edu.cn/bbsdoc?board=Girls" target=_blank>【<b>Girls</b>】</a></td>

                                <td nowrap="nowrap" style="width:70%" class=title><a href="http://bbs.nju.edu.cn/bbstcon?board=Girls&file=M.1259501472.A" target=_blank><b>你能抗拒出轨的诱惑么？</b></a></td>                          
                             </tr>  
                                           
                        
                            <tr class="pt9dc">
                                                
                                <td nowrap="nowrap" style="width:30%" class=board><a href="http://bbs.sysu.edu.cn/bbsdoc?board=Girls" target=_blank>【<b>Girls</b>】</a></td>
                                <td nowrap="nowrap" style="width:70%" class=title><a href="http://bbs.sysu.edu.cn/bbstcon?board=Girls&file=M.1259583823.A" target=_blank><b>女朋友要收前男友的戒指礼物，我要怎么办？</b></a></td>                          
                             </tr>  
                                           
                        
                            <tr class="pt9lc">
                                                
                                <td nowrap="nowrap" style="width:30%" class=board><a href="http://bbs.xjtu.edu.cn/BMYELAVBXDPIOAJBDICRKENIKWXEIKSVQZJU_B/bbshome?board=XJTUenp" target=_blank>【<b>XJTUenp</b>】</a></td>

                                <td nowrap="nowrap" style="width:70%" class=title><a href="http://bbs.xjtu.edu.cn/BMYELAVBXDPIOAJBDICRKENIKWXEIKSVQZJU_B/bbstfind?board=XJTUenp&th=1259558167&title=朴实却伟大的胸怀——有感于徐通模教授讲座" target=_blank><b>朴实却伟大的胸怀——有感于徐通模教授讲座</b></a></td>                          
                             </tr>  
                                           
                        
                            <tr class="pt9dc">
                                                
                                <td nowrap="nowrap" style="width:30%" class=board><a href="http://forum.byr.edu.cn/wForum/" target=_blank>【<b>Talking</b>】</a></td>
                                <td nowrap="nowrap" style="width:70%" class=title><a href="http://forum.byr.edu.cn/wForum/disparticle.php?boardName=Talking&ID=4424219" target=_blank><b>昌平图书馆最最慈祥和蔼的辛老师..</b></a></td>                          
                             </tr>  
                                           
                        
                            <tr class="pt9lc">
                                                
                                <td nowrap="nowrap" style="width:30%" class=board><a href="http://www.newsmth.net/bbstcon.php?board=ASCIIart&amp;gid=114684" target=_blank>【<b>ASCII艺术</b>】</a></td>

                                <td nowrap="nowrap" style="width:70%" class=title><a href="http://www.newsmth.net/bbstcon.php?board=ASCIIart&amp;gid=114684" target=_blank><b>空格动画·青鸾·365帧</b></a></td>                          
                             </tr>  
                                           
                        
                            <tr class="pt9dc">
                                                
                                <td nowrap="nowrap" style="width:30%" class=board><a href="http://bbs.fudan.edu.cn/cgi-bin/bbs/bbsdoc?board=Astrology" target=_blank>【<b>Astrology</b>】</a></td>
                                <td nowrap="nowrap" style="width:70%" class=title><a href="http://bbs.fudan.edu.cn/cgi-bin/bbs/bbstfind?board=Astrology&title=征集——珍爱生命，远离X X？                                " target=_blank><b>征集——珍爱生命，远离X X？</b></a></td>                          
                             </tr>  
                                           
                        
                            <tr class="pt9lc">
                                                
                                <td nowrap="nowrap" style="width:30%" class=board><a href="http://bbs.ustc.edu.cn/cgi/bbsdoc?board=RealMadrid" target=_blank>【<b>RealMadrid</b>】</a></td>

                                <td nowrap="nowrap" style="width:70%" class=title><a href="http://bbs.ustc.edu.cn/cgi/bbstcon?board=RealMadrid&file=M.1259525982.A" target=_blank><b>show&nbsp;pp</b></a></td>                          
                             </tr>  
                                           
                        
                            <tr class="pt9dc">
                                                
                                <td nowrap="nowrap" style="width:30%" class=board><a href="http://bbs.whu.edu.cn/bbstcon.php?board=Picture&amp;gid=280902" target=_blank>【<b>贴图版</b>】</a></td>
                                <td nowrap="nowrap" style="width:70%" class=title><a href="http://bbs.whu.edu.cn/bbstcon.php?board=Picture&amp;gid=280902" target=_blank><b>怒了~~~姐今天点pie你了小偷同志！有pp~~~</b></a></td>                          
                             </tr>  
                                           
                        
                            <tr class="pt9lc">
                                                
                                <td nowrap="nowrap" style="width:30%" class=board><a href="http://bbs.jlu.edu.cn/cgi-bin/" target=_blank>【<b>reminiscence</b>】</a></td>

                                <td nowrap="nowrap" style="width:70%" class=title><a href="http://bbs.jlu.edu.cn/cgi-bin/bbstcon?board=reminiscence&root=1257864804" target=_blank><b>渐渐懂了</b></a></td>                          
                             </tr>  
                                  
                </table>

	</div>
	<div class="onecol-info">
		<h2>Public newsfeed</h2>
        <table>

                            <tr class="pt9dc">
                                                
                                <td nowrap="nowrap" style="width:30%" class=board><a href="http://bbs.sjtu.edu.cn//bbsdoc?board=Environment" target=_blank>【<b>Environment</b>】</a></td>
                                <td nowrap="nowrap" style="width:70%" class=title><a href="http://bbs.sjtu.edu.cn//bbstcon?board=Environment&reid=1259522214" target=_blank><b>【热烈庆祝环境学院建院10周年！】</b></a></td>                          
                             </tr>  
                                           
                        
                            <tr class="pt9lc">
                                                
                                <td nowrap="nowrap" style="width:30%" class=board><a href="http://bbs.nju.edu.cn/bbsdoc?board=Girls" target=_blank>【<b>Girls</b>】</a></td>

                                <td nowrap="nowrap" style="width:70%" class=title><a href="http://bbs.nju.edu.cn/bbstcon?board=Girls&file=M.1259501472.A" target=_blank><b>你能抗拒出轨的诱惑么？</b></a></td>                          
                             </tr>  
                                           
                        
                            <tr class="pt9dc">
                                                
                                <td nowrap="nowrap" style="width:30%" class=board><a href="http://bbs.sysu.edu.cn/bbsdoc?board=Girls" target=_blank>【<b>Girls</b>】</a></td>
                                <td nowrap="nowrap" style="width:70%" class=title><a href="http://bbs.sysu.edu.cn/bbstcon?board=Girls&file=M.1259583823.A" target=_blank><b>女朋友要收前男友的戒指礼物，我要怎么办？</b></a></td>                          
                             </tr>  
                                           
                        
                            <tr class="pt9lc">
                                                
                                <td nowrap="nowrap" style="width:30%" class=board><a href="http://bbs.xjtu.edu.cn/BMYELAVBXDPIOAJBDICRKENIKWXEIKSVQZJU_B/bbshome?board=XJTUenp" target=_blank>【<b>XJTUenp</b>】</a></td>

                                <td nowrap="nowrap" style="width:70%" class=title><a href="http://bbs.xjtu.edu.cn/BMYELAVBXDPIOAJBDICRKENIKWXEIKSVQZJU_B/bbstfind?board=XJTUenp&th=1259558167&title=朴实却伟大的胸怀——有感于徐通模教授讲座" target=_blank><b>朴实却伟大的胸怀——有感于徐通模教授讲座</b></a></td>                          
                             </tr>  
                                           
                        
                            <tr class="pt9dc">
                                                
                                <td nowrap="nowrap" style="width:30%" class=board><a href="http://forum.byr.edu.cn/wForum/" target=_blank>【<b>Talking</b>】</a></td>
                                <td nowrap="nowrap" style="width:70%" class=title><a href="http://forum.byr.edu.cn/wForum/disparticle.php?boardName=Talking&ID=4424219" target=_blank><b>昌平图书馆最最慈祥和蔼的辛老师..</b></a></td>                          
                             </tr>  
                                           
                        
                            <tr class="pt9lc">
                                                
                                <td nowrap="nowrap" style="width:30%" class=board><a href="http://www.newsmth.net/bbstcon.php?board=ASCIIart&amp;gid=114684" target=_blank>【<b>ASCII艺术</b>】</a></td>

                                <td nowrap="nowrap" style="width:70%" class=title><a href="http://www.newsmth.net/bbstcon.php?board=ASCIIart&amp;gid=114684" target=_blank><b>空格动画·青鸾·365帧</b></a></td>                          
                             </tr>  
                                           
                        
                            <tr class="pt9dc">
                                                
                                <td nowrap="nowrap" style="width:30%" class=board><a href="http://bbs.fudan.edu.cn/cgi-bin/bbs/bbsdoc?board=Astrology" target=_blank>【<b>Astrology</b>】</a></td>
                                <td nowrap="nowrap" style="width:70%" class=title><a href="http://bbs.fudan.edu.cn/cgi-bin/bbs/bbstfind?board=Astrology&title=征集——珍爱生命，远离X X？                                " target=_blank><b>征集——珍爱生命，远离X X？</b></a></td>                          
                             </tr>  
                                           
                        
                            <tr class="pt9lc">
                                                
                                <td nowrap="nowrap" style="width:30%" class=board><a href="http://bbs.ustc.edu.cn/cgi/bbsdoc?board=RealMadrid" target=_blank>【<b>RealMadrid</b>】</a></td>

                                <td nowrap="nowrap" style="width:70%" class=title><a href="http://bbs.ustc.edu.cn/cgi/bbstcon?board=RealMadrid&file=M.1259525982.A" target=_blank><b>show&nbsp;pp</b></a></td>                          
                             </tr>  
                                           
                        
                            <tr class="pt9dc">
                                                
                                <td nowrap="nowrap" style="width:30%" class=board><a href="http://bbs.whu.edu.cn/bbstcon.php?board=Picture&amp;gid=280902" target=_blank>【<b>贴图版</b>】</a></td>
                                <td nowrap="nowrap" style="width:70%" class=title><a href="http://bbs.whu.edu.cn/bbstcon.php?board=Picture&amp;gid=280902" target=_blank><b>怒了~~~姐今天点pie你了小偷同志！有pp~~~</b></a></td>                          
                             </tr>  
                                           
                        
                            <tr class="pt9lc">
                                                
                                <td nowrap="nowrap" style="width:30%" class=board><a href="http://bbs.jlu.edu.cn/cgi-bin/" target=_blank>【<b>reminiscence</b>】</a></td>

                                <td nowrap="nowrap" style="width:70%" class=title><a href="http://bbs.jlu.edu.cn/cgi-bin/bbstcon?board=reminiscence&root=1257864804" target=_blank><b>渐渐懂了</b></a></td>                          
                             </tr>  
                                  
                </table>

	</div>
    
 	
         
    
</div>


	</div>


		<div class="cb"></div>

		 <div style="width:100%;text-align:center;">
    <div class = "ad">
        <script type="text/javascript">
        <!--
            google_ad_client = "pub-2659838370586235";
            /* 728x90, 创建于 09-7-22 */
            google_ad_slot = "0489487693";
            google_ad_width = 728;
            google_ad_height = 90;
            //-->
        </script>
        <script type="text/javascript" src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
        </script>
    </div>
    </div>
        <div class="cb footer-placeholder"></div>
</div>
	
	
	<script type="text/javascript">
	var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
	document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
	</script><script src="bmedia/ga.js" type="text/javascript"></script>
	<script type="text/javascript">
	var pt = _gat._getTracker("UA-2456069-3");
	pt._trackPageview();
	</script>
</body>

</html>